<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <form action="" method="post">
         {% csrf_token %}
         {% for form in fm %}
            {{form.label_tag}}  {{form}} <span class="error_list">{{form.errors|striptags}}</span> <br> <br>
         {% endfor %}
          {% for fm in form %}
                 {{fm.label_tag}}  {{fm}} <span class="error_list">{{fm.errors|striptags}}</span> <br> <br>
          {% endfor %}
     </form>
</body>
</html>