{% extends 'base.html' %}
{% load static  %}

{% block title %}
<title>My Resume | Service </title>
{% endblock title %}


{% block  content %}

<div class="title">
    <h2 class="text-warning mt-5 ">Service</h2>
    <hr class="border-light" >


</div>
<div class="container">
    <div class="row">

        {% for i in  ser %}
        <div class="col-sm-4">
            <div class="box">
             <img src="{{ i.img.url}}" alt="">

              <h4>{{i.title}}</h4>
             <p>{{i.text}}</p>
            </div>

        </div>
        {% endfor %}

        

    </div>
</div>

{% endblock content %}