{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>My Resume | Home </title>
{% endblock title %}
{% block content %}
 <div class="img ">
     <img class="img-thumbnail" src="{% static 'img/m3.png'%}" alt="">
 </div>
 <div class="content_home_page">
  <h4>Hello</h4>
  <p>I’m <b class="text-warning">Atiar Rahaman here</b> , Hello! I’m an experienced IT specialist 
   with a strong background in network administration, systems management, and technical support. 
   Over the past 5+ years, I’ve helped businesses optimize their IT infrastructure, troubleshoot complex systems issues,
   and ensure seamless technology operations.</p>

  <h2>Comfortable</h2>
  <p>Expertise:
Network Administration: Setting up, configuring, and maintaining secure networks (LAN/WAN), firewalls, and VPNs.
Server Management: Proficient in Windows and Linux servers, including deployment, monitoring, and maintenance.
Cloud Solutions: Experience with AWS, Azure, and Google Cloud for server hosting, application management, and scalability.
Cybersecurity: Implementing robust security protocols, including firewalls, intrusion detection systems, and data encryption.
Technical Support: Providing remote and on-site technical support, resolving software and hardware issues quickly and effectively.
Virtualization: Skilled in VMware, Hyper-V, and other virtualization technologies to optimize server usage and reduce costs.</p>
   <a class="btn btn-outline-warning " href="{% url 'contact' %}">Hire Me</a>
   <a class="btn btn-outline-info " href="{% url 'contact' %}">Contact</a>
 </div>

{% endblock content %}
