{%  load static%}

 
<div class="border-right border-warning h-100">

                   
    <div class="content">
       <a href="{% url 'home' %}"><img src="{% static 'img/m3.png'%}" alt=""></a> 
        <h4 class="text-white">Atiar Rahaman</h4>
        <hr class="border-light"> 
        
    </div>
    <div class="menu">
        <ul>
            <li><a href="{% url 'home' %} "  class="{{home}}">home</a></li>
            <li><a href="{% url 'service' %}"  class="{{service}}">service</a></li>
            <li><a href="{% url 'skill' %}" class="{{skill}}">skill</a></li>
            <li><a href="{% url 'contact' %}"class="{{contact}}" >contact</a></li>
        </ul>
    </div>
 </div>